body {
    font-family: Arial, sans-serif;
    background-color: black;
}
.hero {
    padding: 60px 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.hero img {
    max-width: 100%;
    height: auto;
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-shadow: 3px 4px 6px black;
}

.content-section {
    padding: 40px 0;
    
}
.image{
border-radius: 50%;
box-shadow: 4px 4px 16px navy;
}
.navbar-brand span{
    color: red;
}
.navbar-brand {
text-shadow: 4px 4px 15px navy;
font-weight: bolder;
}
.hero {
    padding: 60px 0;
    text-align: center;
    background-color: #f8f9fa;
}
.content-section {
    padding: 40px 0;
}
.service-card {
    margin-bottom: 20px;
}
.service-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
    text-align: center;
}


.service-container:hover {
    background-color: orange;
}

.service-icon {
    font-size: 50px;
    margin-bottom: 15px;
}

.service-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.service-description {
    font-size: 16px;
}
